$primary-color : #F00;
$secundary-color  : #0AF;

.red{
    background-color: red;
}

.orange{
    background-color: #F70;
}

.blue{
    background-color: #07F;
}

.black{
    background-color: #000;
}

.primary-color{
    background-color: $primary-color;
}

.secundary-color{
    background-color: $secundary-color;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
}

.content{
    width: 1024px;
    min-width: 320px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-toggle{
        display: none;
        padding: 15px;
    }
    img{
        height: 90px;
    }
    .search-input{
        height: 50px;
        display: flex;
        flex-grow: 10;
        align-items: center;
        justify-content: flex-end;
        

        input, button{
            margin: 0px;
            height: 40px;
            box-sizing: border-box;
        }
        input{
            flex-grow: 10;
            max-width: 50%;
            min-width: 300px;
            border-width: 1px 0px 1px 1px;
            border-color: #AAA;
            border-style: solid;
        }
        button{
            font-weight: bold;
            padding: 5px 20px;
            border-width: 0px;
            color: white;
            background-color: $primary-color;
        }
    }
    .search-icon{
        display: none;
        padding: 15px;
    }
}

.auth-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding: 0 5px;

    p{
        color: white;
        margin: 5px 5px;
    }

    a{
        color: white;
        font-weight: 600;
    }
}

.menu {
    display: flex;

    ul {
        color: black;
        display: flex;
        padding: 0px;

        li {
            margin: 0 20px 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            text-align: center;
            align-items: center;

            a {
                padding: 15px 15px;
                font-weight: 800;
                color: white;
                text-decoration: none;
            }
        }

        li:hover{
            background-color: $secundary-color;
        }
    }
}

.path{
    display: flex;
    padding: 15px 15px;

    p, label{
        font-size: 14px;
        
        a{
            text-decoration: none;
            color: black;
        }
    }

    :last-child>a{
        color: $primary-color;
    }

    label{
        margin: 0 5px;
        color: #AAA
    }
}

.body{
    display: flex;
    box-sizing: border-box;
    max-width: 1024-30px;
    margin: 0 15px;

    .sidebar{
        display: flex;
        flex-direction: column;
        height: min-content;
        box-sizing: border-box;
        width: 220px;
        border: 1px solid #CCC;
        padding: 20px 15px;
        
        p{
            color: $secundary-color;
            font-size: 1.3em;
            font-weight: 500;
            line-height: 3;
        }
        p:first-child{
            color: $primary-color;
            font-size: 1.6em;
            font-weight: bold;
            line-height: 1;
        }
        ul{
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
            color: #555;
            li:hover{
                background-color: $secundary-color;
            }
        }
        .choose-color{
            display: flex;
            .color-box{
                height: 30px;
                width: (80/3)+0%;
            }
        }
    }   
    .product-grid{
        display: flex;
        flex-direction: column;
        flex-grow: 10;
        justify-content: space-around;
        margin-left: 15px;

        .products{
            display: flex;
            flex-flow: row wrap ;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: left;

            .product{
                // min-width: (1024-220-45)/4+0px;
                width: 25%;
                height: 200px;
                background-color: $secundary-color;
            }
        }
    }
}

.category-name p{
    color: $primary-color;
    padding: 0px;
    margin: 0px;
    font-size: 1.6em;
    line-height: 80%;
    align-self: flex-start;
}

.filters{
    display: flex;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
    margin: 5px 0px;
    align-items: center;
}

.fa{
    padding: 5px;
    margin-right: 5px;
    font-size: 1.3em;
}

.fa:hover   {
    background-color: $secundary-color;
}

.order-by{
    display: flex;
    box-sizing: border-box;
    flex-grow: 10;
    justify-content: flex-end;
    align-items: center;
    p{
        font-size: 0.7em;
        font-weight: 600;
        color: #555;
    }
    select{
        border: 1px solid #AAA;
        border-radius: 5px;
        width: 40%;
        margin-left: 10px;
        padding-left: 10px;
        font-weight: 500;
        option{
            padding-left: 20px;
        }
    }
}


// MEDIA 1024px
@media(max-width: 1024px){
    .auth-bar, .search-input{
        padding: 0 20px;
    }
    .body{
        .product-grid{
            .products{
                justify-content: start;
                .product{
                    // min-width: (757-220-45)/3+0px;
                    // min-width: (503-30)/3+0px;
                    width: (100/3)+0%;
                    background-color: $primary-color;
                }
            }
        }
    }
}

// MEDIA 767px
@media(max-width: 767px){
    .content{
        max-width: 320px;
    }

    .header{
        img{
            height: 70px;
        }
        .menu-toggle,.search-icon{
            display: block;
        }
    }

    .menu{
        display: none;
    }

    .header .search-input{
        display: none;
    }

    .auth-bar{
        justify-content: center;
    }

    .body{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;

        .sidebar{
            margin: 0 15px;
            width: 320-30px;
        }

        .product-grid{
            display: block;
            padding: 0px;
            width: 320-30px;

            .category-name{
                margin: 15px 0;
                font-size: 1.3em;
                line-height: normal;
            }

            .filters{
                border: none;
                margin: 0px;
                padding: 0px;
                width: 320-30px;
                .fa{
                    display: none;
                }
            }

            .order-by{
                justify-content: space-between;
                align-content: center;
                margin-bottom: 15px;
                p{
                    font-size: 0.7em;
                    font-weight: 600;
                    color: #555;
                }
                select{
                    flex-grow: 1;
                }
            }
            .products{
                .product{
                    width: 100%;
                }
            }
        }
    }
}