$primary-color : #F00;
$secundary-color  : #0AF;

.black{
    background-color: #000;
}

.primary-color{
    background-color: $primary-color;
}

.secundary-color{
    background-color: $secundary-color;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
}

.content{
    width: 1024px;
    min-width: 320px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-toggle{
        display: none;
        padding: 15px;
    }
    img{
        height: 90px;
    }
    .search-input{
        height: 50px;
        display: flex;
        flex-grow: 10;
        align-items: center;
        justify-content: flex-end;
        

        input, button{
            margin: 0px;
            height: 40px;
            box-sizing: border-box;
        }
        input{
            flex-grow: 10;
            max-width: 50%;
            min-width: 300px;
            border-width: 1px 0px 1px 1px;
            border-color: #AAA;
            border-style: solid;
        }
        button{
            font-weight: bold;
            padding: 5px 20px;
            border-width: 0px;
            color: white;
            background-color: $primary-color;
        }
    }
    .search-icon{
        display: none;
        padding: 15px;
    }
}

.auth-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding: 0 5px;

    p{
        color: white;
        margin: 5px 5px;
    }

    a{
        color: white;
        font-weight: 600;
    }
}

.menu {
    display: flex;

    ul {
        color: black;
        display: flex;
        padding: 0px;

        li {
            margin: 0 20px 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            text-align: center;
            align-items: center;

            a {
                padding: 15px 15px;
                font-weight: 800;
                color: white;
                text-decoration: none;
            }
        }

        li:hover{
            background-color: $secundary-color;
        }
    }
}

.path{
    display: flex;
    padding: 15px 15px;

    p, label{
        font-size: 14px;
        
        a{
            text-decoration: none;
            color: black;
        }
    }

    :last-child>a{
        color: $primary-color;
    }

    label{
        margin: 0 5px;
        color: #AAA
    }
}

.body{
    display: flex;
    box-sizing: border-box;
    height: 500px;
    max-width: 1024-30px;
    margin: 0 15px;

    .sidebar{
        width: 220px;
        border: 1px solid #CCC;
    }   
    .product-grid{
        display: flex;
        flex-direction: column;
        flex-grow: 10;
        justify-content: space-around;
        margin-left: 15px;
    }
    .product{
        display: block;
        width: 100%;
        background-color: cadetblue;
    }
}
.category-name{
    color: $primary-color;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    font-size: 1.6em;
}
.filters{
    display: flex;
    flex-grow: 10;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
    margin: 5px 0px;
    align-items: center;
}
.fa{
    padding: 5px;
    margin-right: 5px;
    font-size: 1.5em;
}
.fa:hover   {
    background-color: $secundary-color;
}
.order-by{
    display: flex;
    box-sizing: border-box;
    flex-grow: 10;
    justify-content: flex-end;
}
@media(max-width: 1024px){
    .auth-bar, .search-input{
        padding: 0 20px;
    }
}

@media(max-width: 767px){
    .content{
        max-width: 320px;
    }
    .header{
        img{
            height: 70px;
        }
        .menu-toggle,.search-icon{
            display: block;
        }
    }
    .menu{
        display: none;
    }
    .header .search-input{
        display: none;
    }
    .auth-bar{
        justify-content: center;
    }
    .body{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
        .sidebar{
            margin: 0 15px;
            width: 320-30px;
        }
        .product-grid{
            display: block;
            margin: 0 15px;
            padding: 0px;
            width: 320-30px;
            .category-name{
                line-height: normal;
            }
            .filters{
                margin: 0 15px;
                padding: 0px;
                width: 320-30px;
            }
            .product{
                display: block;
                max-width: 100%;
            }
        }
    }
}